* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}

a.link {
  color: white;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}
a.link:hover {
  color: #40ffa6;
}

.floating-ui {
  position: absolute;
  left: 20px;
  top: 20px;
}
.dg.a {
    display: none;
}




#secao1{
    height: 100vh;
    background-color: black;
}
#secaobottom{
    height: 10px;
    margin-top: 495px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#euimg{
    border-radius: 54%;
    width: 180px;
    height: 180px;
    position: absolute;
    margin-top: 100px;
    border: solid 3px #fbfdfb;
    margin-left: -85px;
    transition: 1s;
}
#euimg.efeito{
    border-radius: 54%;
    width: 180px;
    height: 180px;
    position: absolute;
    margin-top: 50px;
    border: solid 3px #fbfdfb;
    margin-left: -85px;
    z-index: 9999;
}
#textoeu{
    position: relative;
    color: #00a7f5;
    text-align: center;
    margin-top: -380px;
}
#textoeu.efeito{
    position: relative;
    color: #00a7f5;
    text-align: center;
    margin-top: -430px;
    transition: 1s;
}
.fixed-top{

}
/* ABAIXO CSS DO GRADIENTE */
.gradient {
      background: linear-gradient(45deg, white, black, black, black, #00a7f5, black);
      background-size: 300% 300%;
      animation: colors 10s ease infinite;
    }

    @keyframes colors {
      0% {
        background-position: 0% 100%;
      }
      50% {
        background-position: 100% 100%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
#redes{
    background-color: #e6d5cb;
    height: 100px;
    font-size: 50px;
    margin-top: 16px;
}