.cadastroproduto {
 color: black;
}
.previsaoitem h6{
    color: black;
    font-size: 13px;
    margin-top: -45px;
}
.previsaoitem h5{
    color: black;
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: -25px;
}
#editarproduto{
    margin-left: 1px;
}
.fonrecedoresopcoes{
    margin-top: -64px;
}
.card-body{
    cursor: pointer;
}